a{
 font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 13px;
}
summary{
     font-family: "Titillium Web", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
}